developmentMode=false

host=http://localhost:8080
version=snapshot1
tomcat=true
proxied=false
async.mode=TOMCAT
async.webSocketEnabled=false

# Mongo database

mongodb.host=
mongodb.port=
mongodb.database=
mongodb.userName=
mongodb.password=